################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EyeCT4Participation/EyeCT4Participation/obj
/EyeCT4Participation/EyeCT4Participation/bin
/EyeCT4Participation/.vs
/EyeCT4Participation/.suo
/EyeCT4Participation/UnitTests/bin/Debug/UnitTests.dll
