################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EyeCT4Participation/EyeCT4Participation/obj/Debug
